<div class="description animated fadeInLeft">
    <h2>Landing Page</h2>
    <div class="content slide-text">
        <ul class="list-unstyled feature-list text-left">
            <li>    <div class="col-sm-3 col-md-3"></div><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>    <div class="col-sm-3 col-md-3"></div><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>    <div class="col-sm-3 col-md-3"></div><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>    <div class="col-sm-3 col-md-3"></div><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
    </div>

</div>